*{
margin: 5px;
padding: 0;
background-color: lightblue;
font-size: large;
}
.main{
    display: inline;
    height: 10px;
    color:white;

}
.cat,img{ 
    height: 120px;
    width: auto;
    max-height: 100%;
    border-radius: 10px;
    grid-area: box5;
}

 
.header,nav,ul,li {
    display: inline-flex;
    padding: 5px;
    margin-top: -100px;

}

.titulo{
    font-weight: bold;
    font-size:xx-large;
    margin-left:-850px;
    margin-top: -1000;
    
    grid-area: box1;   
    
    
    
}
.Primer-Partido{
    padding: 5px;
    margin-top: 300px;
    margin-left: -30px;
    margin-right: -50px;
    height: 30px;
    border: 3px solid ;
    font-weight: bold;
    display: inline-flex;
    background-color: red;
}


.segundo-partido{
    padding: 5px;
    display: inline-flex;
    margin-top: 300px;
    margin-left:160px;
    margin-right: -210px;
    height: 30px;
    border: 3px solid;
    font-weight: bold;
    background-color: red;
}
.Tercer-partido{
    padding: 5px;
    height: 30px;
    margin-top: 300px;
    margin-left: 313px;
    margin-right: 10px;
    border: 3px solid;
    font-weight: bold;
    display: inline-flex;
    background-color: red;
}



 .cat{
    height: 130px;
    padding: 10px;    
    background-color: lightblue;
    display: inline-flex;
    font-weight: bold;
    font-family: 'Lucida Sans'; 
    margin-top: 10px;
    
   

    
 }
 .fotos{
    margin-top: 650px;
    margin-left: -1085px;
    margin-right: 200px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    display: inline-flex;
 }
 img{
    
width: auto;
max-height: 100%;


 }

.footer{
    position: absolute;
    bottom: 10; 
    width: 0%;
    grid-area: box4;
    margin-top: 1000px;
}
 .estadios,p{
    background-position: 0px;
    padding-right: 10px;
    margin: 5px;
    height: 90px;
    font-weight: bold;
   font-family: 'Times New Roman';
}

.nombres{
padding-bottom: 10px;
margin:5px;
height: 10px;
font-weight: bold;
font-style: italic;
border: 3px solid red;
}
  
.listas-equipos{
    padding: 5px;
    border: 4px solid black;
    margin: 2px;
    height: 305px;
    font-weight: bold;
    font-size:small;
}
.jugadores{ 
    font-size: small;
    margin-top: 5px;
    height: 5px;
    font-family:'Franklin Gothic Medium';
}

.box-1:hover{
    transition: all 1s;
    transform: scale(1.03);
    background-color:brown;
    border-radius: 10px;
    
}
.enlaces{
    margin-left: 300px;
    margin-top: 0px;
    padding-bottom: 1000px;
    font-weight:bold ;
    font-style: italic;
     font-size: larger;
     
}
 /* Mobile */
@media only screen and (max-width:500px){
    body {
        width: 100%; 
    
    
}
}
/* Tablet */
@media only screen and (min-width:501px) and (max-width:980px){
    body{
       width: 100%;
    }
}

/* Orientacion del dispocitivo */
@media only screen and (orientation: landscape){


}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    
    
}

.encuentros{
    display: inline-flex;
    margin-top: 200px;
    margin-left: -150px;
}

.Primer-encuentro{
    display: inline-flex;
    margin-top: 300px;
    padding: 5px;
    height: 30px;
    border: 3px solid;
    font-weight: bold;
    background-color: red;
    margin-left: -250px;
}

.segundo-encuentro{
    display: inline-flex;
    margin-top: -1040px;
    padding: 5px;
    height: 30px;
    border: 3px solid;
    font-weight: bold;
    background-color: red;
    margin-left: 720px;
    margin-right: -960px;
}

}
